.fish-img{
    max-width:25%;
}

body{
    background-color: #E0EBE8 !important;
}

app-route {
    background-color:red;
}
h1 {
    margin-top:10% !important;
}
.container{
    margin-bottom:5% !important;
}